.inner {
	max-width: 1366px;
	display :block;
	width:100%;
	padding:0px;
	bottom: 0px;
	position: fixed;
}

#socialmenu {
	text-align:center;
	background-color: #999999;
	border: 1px solid #999999;
	margin-top:5px;
	margin-bottom:5px;
	position:relative;
	width:100%;
	z-index: 1000;
	margin:5px auto;
	text-decoration:none;
	padding: 0;
}

#socialmenu a {
	display: inline-block;
	width: 10%;
	height:40px;
	font-size: 20px;
	padding-top: 6px;
	text-decoration: none;
}

#socialmenu a div {
	color: #fff;
	text-decoration: none;
}

/*---------------------------------*/
/* Hover Link */
#socialmenu a div:hover {
	background-color: #444;
	color: #fff;
	text-decoration: none;
	width: 100%;
}


/*---------------------------------*/
/* Screen for phone */
@media only screen and (max-width: 480px) {
	
	#socialmenu a {
		display: block;
		height: 20px;
		text-align: center;
		width: 100%;
		font-size: 12px;
		padding-top:0;
	}

	#socialmenu a div {
		border-bottom:none;
		border-top:none;
		text-align:center;
		width: 100%;
	}
}