.none {
	display: none;
}

.banner {
    padding-bottom: 20px;
    border-bottom: 20px solid #999999;
}

.container {
	margin-right: 2%;
	margin-left: 2%;
	max-width: 1366px;
	display :block;
	width:95%;
	padding:0px;
/*	background-image: url("../../assets/images/banner.jpg");
	background-repeat: no-repeat;
	height: auto; */
}

/*----------M E N U-----------*/
#mainmenu:before,
#mainmenu:after {
	content: "";
	display: table;
}

#mainmenu:after {
	clear: both;
}

#mainmenu {
	float: left;
	border:1px solid #999999;
	background-color:#999999;
	margin-top:5px;
	margin-bottom:5px;
	position:fixed;
	width: 100%;
	z-index:1000;
	box-shadow:0 1px 0px #fff;
	margin-left: -2%;
	*zoom: 1;
	top: 0px;
}

#mainmenu ul {
	margin: 0px;
	list-style: none;
	float:left;
	padding-left:3%;
	padding-right:3%;
	width: 100%;
}

#mainmenu ul li {
	border-left: 0px;
	border-right: 0px;
	float: left;
	margin-bottom: -1px;
	position: relative;
}

#mainmenu ul li a {
	padding: 0 15px;
	display: inline-block;
	color: #fff;
	font-size: 15px;
	line-height: 48px;
	float: left;
	white-space: nowrap;
}
#mainmenu ul li a:hover,
#mainmenu ul li.current-menu-item a,
#mainmenu ul li.current-menu-parent a,
#mainmenu ul li.current_page_item a,
#mainmenu ul li.current_page_ancestor a,
#mainmenu ul li:hover > a {
	background-color: #444;
	color: #fff;
	text-decoration:none;
	width: 100%;
}

/* ----------- Dropdown menu ------------ */
#mainmenu ul li ul, #mainmenu ul li:hover ul li ul {
	display:none;
	list-style:none none;
	z-index: 9999;
	color:#fff;
	text-decoration:none;
}
#mainmenu ul li:hover ul, #mainmenu ul li ul li:hover ul {
	display:block;
	text-decoration: none;
}
#mainmenu ul li ul {
	position:absolute;
	background-color:#999999;
	top:48px;
	left:0px;
	padding:0px;
	width:100px;
	margin:0px;
}
#mainmenu ul li ul li ul {
	left:185px;
	top:-1px;
}
#mainmenu ul li ul li {
	float:none;
	border-bottom:1px solid #666;
	border-right:0 none;
}
#mainmenu ul li ul li a {
	padding: 7px 10px;
	color: #fff;
	float:none;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	white-space: normal;
}
#mainmenu ul li ul li a:hover, #mainmenu ul li ul li:hover > a {
	background-color:#333;
	text-decoration:none;
	color:#fff;
}
/*--------------------------------------------*/
/* Style for phone screen */
@media only screen and (max-width: 480px) {
	nav li {
		display: block;
		width: 100%;
	}

	nav li a {
		border-bottom: none;
	}
	#mainmenu ul li a {
		padding: 0 15px;
		display: block;
		color: #fff;
		font-size: 15px;
		line-height: 20px;
		float: left;
		white-space: nowrap;
	}
}


/*--------------------------------------------*/
/* Page Title */

#page-title {
	padding:34px 20px 0px;
}
#page-title p {
	padding-bottom:0;
}

/* Site title */
.site-title {
	margin-top: 50px;
	font-family: "Noto Sans", sans-serif;
	font-size: 100px;
	font-weight: 900;
	line-height: 1.3636;
	margin-bottom: 0;
	text-align:center;
}

@media only screen and (max-width: 480px) {
	.site-title {
		display: none;
		width: 100%;
	}
}

.site-title a {
	color: black;
}

.site-title a:hover {
	text-decoration: none;
}

.site-description {
//	display: none;
	font-family: "Noto Sans", sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 0 0;
	opacity: 0.7;
	text-align:center;
}

@media only screen and (max-width: 480px) {
	.site-description {
		display: none;
		width: 100%;
	}
}