.page-header {
	display: none;
}

.main {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding:0;
}

@media only screen and (max-width: 480px) {
	.main {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.entry-title {
	text-align: center;
}
.entry-title a {
	text-decoration: none;
	color: #808080;
}
.entry-title a:hover {
	text-decoration: none;
	color: #444;
}